.d1{
    background-color : #FF6600;
    height: 250px;
    
}
.d2{
    background-color : white;

    height: 250px;
font-size: 150px;  
text-align: center;  
}
.d3{
    background-color : #5c4c4c;
    height: 250px;
    
}