button{
    margin: 10px,20px,20px,20px;
   
}
body{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: linear-gradient(to right,rgb(105, 95, 247) ,rgb(243, 180, 180));
    
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    box-align: center;

}
table{
    align-items: center;
}
img{
border-radius: 20%;
}
input{
    border: none;
}